html {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  height: 100px;
  /* background-color: #000; */
  /* display: flex; */
  /* position: fixed; */
}
.top-header {
  height: 30px;
  background-color: #000;
  color: #fff;
}
.top-header div {
  float: left;
  margin-right: 20px;
  text-align: center;
}
.top-header div:first-child {
  margin-left: 180px;
  height: 100%;
  /* margin-top: 10px !important; */
}
.bottom-header {
  height: 70px;
}
.bottom-header P {
  float: left;
  margin-right: 30px;
  text-align: center;
}
.bottom-header .menu {
  margin-top: 25px;
}

.bottom-header p:first-child {
  margin-left: 180px;
  margin-top: 10px;
}

.content {
  background-color: #fff;
  height: 2500px;
  /* margin-top: 100px; */
}
.content .video-youtube img {
  width: 100%;
  height: 500px;
}
.content .row {
  width: 80%;
  margin: auto;
}
.content .row .col {
  margin-right: 8%;
  margin-top: 5%;
}
.content-text .row .col .shape {
  width: 60px;
  height: 40px;
  border-radius: 60%;
  background-color: rgba(209, 203, 203, 0.5);
}
.content-text .row .col .shape-intro {
  /* display: block; */
  margin-top: -30px;
  margin-left: 20px;
}
.row .col .shape-intro i {
  margin-left: 20px;
}
.content .service {
  text-align: center;
  width: 35%;
  margin: auto;
  margin-top: 50px;
}
.content .service-content .row .col {
  width: 25%;
}
.content .service-content .row .col div {
  width: 125%;
  text-align: center;
  /* margin-left: 50px; */
}
/* .content .last-content {
  width: 100%;
} */
.content .last-content {
  margin-top: 50px;
  /* height: 618px; */
  background-color: red;
}
/* .content .last-content .col:first-child {
  color: #fff;
  margin-right: 30px;
}
.content .last-content .col:last-child {
  margin-top: 0px;
  margin-right: -170px;
} */

.content .last-content .column {
  width: 65%;
}
.content .last-content .column.col-left {
  padding-left: 10%;
  width: 30%;
  padding-block: 100px;
  /* padding-right: 50px; */
}
.content .last-content .column * {
  color: #fff;
}
.content .last-content .column img {
  width: 100%;
}

.slider .text-content-slider {
  text-align: center;
  /* left: 50%; */
}
/* .slider .list-item {
    margin-left: 100px;
} */
.slider .slider-icon-left {
  top: 100px;
  left: 50px;
  /* margin-right: -100px; */
  text-align: center;
}
.slider .slider-icon-right {
  top: 100px;
  /* text-align: center; */
  /* margin-left: 50px; */
}
.slider .list-staff .staff {
  padding-left: 80px;
}
.slider .list-staff .staff-text {
  position: absolute;
  background-color: #fff;
  margin: auto;
  width: 220px;
  left: 0;
  right: 0;
  padding: 17px 18px;
  box-shadow: 0 4px 4px rgb(0, 0, 0);
  bottom: -60px;
  text-align: center;
}
.slider .slider-staff {
  /* margin-top: 300px; */
}
.footer {
  margin-top: 100px;
}
.footer .start-footer {
  height: 180px;
  background-color: red;
}
.footer .start-footer {
  /* width: 80%; */
  text-align: center;
  height: 180px;
  padding-top: 30px;
  color: #fff;
}
.footer .start-footer .help {
  left: -400px;
  margin-right: 50px;
}
.footer .start-footer .contact button {
  width: 20%;
  margin: 35px 0 0 0;
  border-radius: 8%;
  border-style: none;
}
.footer .body-footer {
  margin-top: 50px;
  /* text-align: center; */
}
.footer .body-footer .locations-footer-dash {
  margin-left: 60px;
  height: 2px;
  width: 50px;
  background-color: red;
}
.footer .body-footer .locations-footer-details {
  width: 150px;
  margin-left: 130px;
  margin-top: -10px;
}

.slider-list-item {
  padding-inline: 10%;
  position: relative;
}

.slider-icon {
  position: absolute;
  cursor: pointer;
}
.slider-icon#slider-icon-left {
  top: 50%;
  left: 8%;
}
.slider-icon#slider-icon-right {
  top: 50%;
  right: 8%;
}
